<?xml version="1.0"?>
<robot name="p3dx_with_cam" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find p3dx_description)/urdf/pioneer3dx.xacro" />
  <xacro:include filename="$(find sparse_dynamic_calibration)/urdf/create_kinect.urdf.xacro" />

  <xacro:create_kinect name="p3dx/kinect" parent="base_link" xyz="0 0 1.5" rpy="0 0.3 0" fps="20" fov="2.0" use_depth="false" distortion="1e-5"/>
</robot>