<launch>

	<!-- Load the URDF into the ROS Parameter Server -->
	<param name="robot_description"
		command="$(find xacro)/xacro.py '$(find sparse_dynamic_calibration)/urdf/apriltags.urdf.xacro'" />

	<!-- Run a python script to the send a service call to gazebo_ros to spawn 
		a URDF robot -->
	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
		respawn="false" output="screen" args="-urdf -model apriltags -param robot_description" />


</launch>